<div class="container py-4">
  <header class="pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      
      <h1 class="display-5 fw-bold">Todo Manager</h1>
    </a>
  </header>

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <span class="fs-4 fw-bold">Todo Manager Project</span>
      
      <p class="col-md-8 fs-4">Todo manager - Application which helps to keep track of all todos in a project</p>
      <button (click)="goTocreateView()" class="btn btn-primary btn-lg ms-1" type="button">Create</button>
      <button (click)="goToProjectView()" class="btn btn-primary btn-lg ms-1" type="button" >View</button>

      
    </div>
  </div>
</div>